<div class="col-md-4 col-md-offset-4">
  <section class="account-form">
    <h1><%= @title %>
      <% if @title.include? "Editing" %>
        <br><small>by <%= @book.author %></small>
      <% end %>
    </h1>
    <%= simple_form_for @book, :html => { multipart: true } do |f| %>

      <%= f.error_notification %>
      <% if @title.eql? "New Book" %>
        <div class="alert alert-info alert-dismissiable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          File Formats Supported: .pdf/.epub
        </div>
      <% end %>
        <div class="form-inputs">
          <%= f.input :title, autofocus: true, required: true %>
          <%= f.input :author %>
          <%= f.input :isbn %>
          <%= f.input :description %>
          <%= f.input :series %>
          <%= f.input :genre %>
          <%= f.file_field :ebook %>
          <%= f.hidden_field :user_id %>
        </div>


        <div class="form-actions">
          <%= f.button :submit %>
        </div>

    <% end %>
  </section>
</div>
